.el-input{
    width: 400px;
    height: 42px;
    .el-input__inner{
        height: 42px;
    }
}

#multiple{
    .el-select{
        width: 200px;
        .el-input {
            width: 200px;
        }
    }
}