.el-input{
    width: 200px;
    height: 30px;
    .el-input__inner{
        height: 30px;;
    }
}

.el-input__icon{
    line-height: 30px;
}

.el-table__row{
    height: 40px;
    line-height: 40px;
}
.el-table td, .el-table th{
    padding: 4px 0;
}

.el-table__row{
    td{
        height: 40px;;
        .cell{
            line-height: 12px;
        }
    }
}
